name: Backend - Unit and Integration Tests

on:
  push:
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Install dependencies
      run: npm ci
      working-directory: ./backend

    - name: Run Unit Tests
      run: npm run test:unit
      working-directory: ./backend

    - name: Run Integration Tests
      run: npm run test:integration
      working-directory: ./backend